@import "bootstrap";



body {
  margin-top: 90px;
  padding-bottom: 70px; 
}

.navbar.transparent.navbar-default.navbar-fixed-bottom.message-bar{
    padding-top: 14px; // lemme try it, there better
     background: rgba(0,0,0,0.4);
}
.background-img {
    background-image: url('background.png');
    margin: 0;
    padding: 0;
    position: fixed;
    z-index:1;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-size:cover;
    height: 150px; 
}

.navbar.navbar-inverse.navbar-fixed-top {
    position: fixed;
    z-index:2;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    background-color:transparent !important;
    border-color:transparent;
    background-image:none;
    box-shadow:none;  
}

.navbar-brand.ember-view{
    color: white;
}

.navbar-inverse .navbar-nav > li > a{
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #faa;
}

.headTag{
    margin-top: 0 !important;
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    z-index:3;
    color: white;
    background:rgba(255,255,255,0.3);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-collapse.collapse.in{
    position: sticky;
    z-index:4;
    width: 100%;
    margin: 0 !important;
    background-color: black;
}

#aboutGrid{
    width: 100%;
  text-align: center;
}

.cred{
    padding-top: 10px;
    font-size: 15px;
}