<body>
    <h1 class="headTag">The Team</h1>
    
    <h2>Created by:</h2>
    
    <div class="container-fixed" id="aboutGrid">
        <div class="row">
          <div class="col-sm-5"> <h3>Sameer Mehta</h3><img src="assets/1.jpg" alt="1">
          <br><p class="cred">Created Chat App and Tutorial as well as setup Firebase and Ember.</p><br>
          </div>
          
          <div class="col-sm-5"><h3>Aumkar Prajapati</h3><img src="assets/2.jpg" alt="2">
          <br><p class="cred">Created About page and Navbar as well as aiding in creation of tutorial page and assorted CSS.</p><br>
          </div>
          
       </div>
    
        <div class="row">
          <div class="col-sm-5"> <h3>Kyle Nyugen</h3><img src="assets/3.jpg" alt="3"><br><p class="cred">Created logo as well as helping with home page development.</p><br></div>
          
          <div class="col-sm-5"><h3>Awale Hassan</h3><img src="assets/4.jpg" alt="4"><br> <p class="cred">Created Home, Conclusion and Install page.</p><br></div>
         
        </div>
    </div>
</body>