<body>
     <h1 class="headTag">Conclusion</h1>
    <div class="jumbotron text-center">
        <h2>Our thoughts on Ember</h2>
        <p>
            In conclusion, EmberJS is a powerful tool for large projects and applications.
            Its CLI streamlines the creation process, making it easy to add pages on the fly. 
            Each and every Ember application is structured the same way, making it easy to drop 
            into unfamiliar Ember applications and make meaningful edits quickly. 
            The downside here is Ember’s steep learning curve. 
            <br><br>
            
            Installation was dependant on Node, and the difficulty of installing Node 
            varied by operating system. As it stands, the Linux and Mac users in our group 
            found it relatively easy to download Node, and by extension, Ember. The Windows users 
            had non-stop trouble. 
            <br><br>
            
            In retrospect, Ember is annoying. Normal, simple things in other frameworks are damn near 
            impossible with it. That being said, we all feel better for learning it. It’s a powerful tool 
            and with the experience we’ve learned with this project, our next project with Ember will be that much easier.
            A perhaps for thei project, a simpler framework would have been smarter to undertake. Much of our time was spent 
            learning how to use Ember, and not fcreating a great web application. Take for an example, SparkJava. 
            It wasn't available for this project, but it uses a similar framework and allows you to working application together in minutes. 
            
            If you're personally interested in Ember, here are some (somewhat) useful guides.
            <br><br>
            <a href="https://emberway.io/a-gentle-introduction-to-ember-2-0-8ef1f378ee4#.gd0xkj4n0">A gentle introduction to Ember</a>
            <br>
            <a href ="https://guides.emberjs.com/v2.9.0/">The official Ember tutorial</a>
            <br>
            
            
            <h3>Final Rating: 7/10</h3>


        </p>
    </div>
</body>