
<body>
    <h1 class="headTag">Ember's a framework!</h1>
    <div class="jumbotron text-center">
  <div class = "well"><h2>And it's pretty cool.</h2></div>
  
  <div><img id="button" src="assets/cindee.gif" alt="Cindee Icon gif"></div>
  <br>
  <div class = "well">
  <p class = "text-left">Ember is a heavy-duty framework meant for large teams and even larger applications. 
      The core development team at Ember all use it on their own personal applications, forcing 
      them to deal with day-to-day problems any other Ember dev would face. This makes it 
      optimized by diehard Ember devs, for diehard Ember devs. This however creates vacuum where newcomers are 
      faced with a steep learning curve to attain true Ember enlightenment. The problems our team faced were numerous.
</p></div>
  <br/><br/>
  <div class = "well">
  <h2>Pros</h2>
  <p class = "text-left"> Ember is meant to streamline the app creation process, by taking care of much of the grunt work 
      you would normally have to do. On creation, it generates much of the general framework that a new 
      application would need. While the syntax was difficult to get the hang of, with experience Ember 
      becomes incredibly easy to read and right. wo experienced Ember developers with have a monumentally 
      easier time sharing code than other experienced devs. Repeated code in Ember can be wrapped in components, 
      keeping your code short, readable and clean. 
</p></div>

<br/><br/>
<div class = "well">
<h2>Cons</h2>
<p class = "text-left">You must learn Handlebar syntax, full stop. This immediately skyrockets the complexity of Ember compared 
    to other frameworks, as you must essentially learn an add-on language to even start using it. Not to mention 
    two-way binding is mandatory. All of this would be manageable, if there were proper tutorials and documentation 
    available, but unfortunately the only reliable source of information comes from the EmberJS main website. 
    By comparison, Angular and React have mountains of guides, books and tutorials available online. 
</p></div>
<br/><br/>
<div class = "well">
  <h2>Sites that currently use Ember.js</h2>
    <div class="container-fixed" id="SitesGrid">
      <div class="im-centered">
        <div class="row">
            <div class ="col-md-4">
              <img src="assets/Sites/discourse.png" class="img-thumbnail" alt="Discourse" style="width:70%">
              <img src="assets/Sites/yahoo.png" class="img-thumbnail" alt="Yahoo" style="width:70%">
              <img src="assets/Sites/groupon.png" class="img-thumbnail" alt="Groupon" style="width:70%">
              <img src="assets/Sites/basho.png" class="img-thumbnail" alt="Basho" style="width:70%">
            </div>
            
            <div class = "col-md-4">
              <img src="assets/Sites/microsoft.png" class="img-thumbnail" alt="Microsoft" style="width:70%">
              <img src="assets/Sites/netflix.png" class="img-thumbnail" alt="Netflix" style="width:70%">
              <img src="assets/Sites/ted.png" class="img-thumbnail" alt="Ted" style="width:70%">
              <img src="assets/Sites/blue-apron.png" class="img-thumbnail" alt="Blue Apron" style="width:70%">              

            </div>
          
            <div class ="col-md-4">
              <img src="assets/Sites/twitch.png" class="img-thumbnail" alt="Twitch" style="width:70%">
              <img src="assets/Sites/linkedin.png" class="img-thumbnail" alt="Linkedin" style="width:70%">
              <img src="assets/Sites/wikia.png" class="img-thumbnail" alt="Wikia" style="width:70%">
              <img src="assets/Sites/hashrocket.png" class="img-thumbnail" alt="Hashrocket" style="width:70%">
              
            </div></div>
        
      </div>
    </div>
</div>

  
  <br/><br/>
</div>
</body>
