
<body>
    <h1 class="headTag">Install</h1>
    <div class="jumbotron text-center">
        <h2>Installing Emberjs is simple</h2>
        
            <h2><small>That is, if you’ve got Node.js and npm installed. If you do, go straight to Step 2. 
                If you don’t, then it’ll take a few steps. 
            </small></h2>
        
            <ul class = "list-group-item">
                <p>Step 1: First thing’s first, installing Node.js. </p>
                <li class = "list-group-item">
                    <p class = "text-left">Mac users can get it easy using Homebrew. 
                        Once it’s installed, just type this line in:
                    </p>
                    
                     <p class = "text-left">
                        <kbd>
                            brew install node	
                        </kbd>
                    </p>
                </li>
                <li class = "list-group-item">
                    <p class = "text-left">
                        Window’s and Mac users without Homebrew can use this <a href="https://nodejs.org/download/"> Node.js Installer.</a>
                    </p>
            
                </li>
                <li class = "list-group-item">
                    <p class = "text-left">
                        Linux users can use <a href="https://nodejs.org/en/download/package-manager/">this guide for Node.js installation on Linux.</a>
                    </p>
                </li>
               <br/><br/>
                 <p>Step 2: Bower
                    </p>
                    
                <li class = "list-group-item">
                    <p class = "text-left">
                        Now that you've got Node.js installed, and by default npm, we're moving on to installing bower.
                        Type this line into terminal.
                    </p>
                    <p class = "text-left">
                        <kbd>
                            npm install -g bower	
                        </kbd>
                    </p>
                </li>
                <br/><br/>
                <p>
                    Step 3: Installing node
                </p>
                <li class = "list-group-item">
                    <p class = "text-left">
                        Finally, we have the Ember install. Just like the last step, one line into terminal:
                    </p>
                    
                    <p class = "text-left">
                        <kbd>
                            npm install -g ember-cli@2.9
                        </kbd>
                    </p>
                </li>

            </ul>
            
            
            
        </div>
    
</body>